.page-404 {
    height: 100vh;
    background-image: url('/resources/images/background/login.png');

    display: flex;
    align-items: center;
    justify-content: center;

    div {
        max-width: 800px;
        color: var(--white-color);
        text-align: center;

        h1 {
            font-size: 140px;
            font-weight: 700;
        }

        h2 {
            font-size: 40px;
            margin-bottom: var(--spacing-5);
        }
    }
}
